.sample {
  display: inline-block;
  flex: none;

  box-sizing: border-box;
  outline: 1px solid #121212;
  border: 1px solid #edededcf;
  padding: 1px;
  height: 1em;
  width: 1em;

  cursor: pointer;
  border-radius: 15%;
}
