.colorInput {
  input {
    width: 18ch;

    background: none;

    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
    text-align: center;
  }
}

.tripleInput {
  display: inline-block;
  border: 1px solid var(--border-color);

  border-radius: 4px;

  input {
    border: none;
    width: 6ch;
  }
}

.colorDisplay {
  display: flex;
  flex-direction: column;
  gap: 4px;

  min-width: 18ch;
}
