.colorBlender {
  font-size: 14px;
  margin: 2em auto;
  max-width: 756px;
  padding: 1em;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 61%;
}

.dual {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1em;
}

.opacityInput {
  width: 5ch;
}

.slider {
  vertical-align: middle;
}

.result {
  display: flex;
  gap: 1em;
}

.gradient {
  display: flex;
  flex-direction: row;
  gap: 4px;

  padding: 2em;
  border-radius: 8px;
}

.gradientPoints {
  padding-bottom: 1em;
  > input {
    box-sizing: border-box;
    width: 100%;
  }
}

.opacityPoint {
  display: inline-block;
  width: 4ch;
  overflow: hidden;
  text-overflow: ellipsis;
}
